.description {
    width: 100%;
    margin-left: .62rem;
    margin-right: .62rem;
    margin-bottom: 2.5rem;
}

.textContainer {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.textContainer h2 {
    color: #000;
    font-family: "Suisse Int'l";
    font-size: 2rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2.2rem;
}

.textContainer p {
    text-align: left;
    color: #222;
    font-family: "Suisse Int'l";
    font-size: 1.3125rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2.1rem;
}