.slider {
    margin-bottom: 6.25rem;
}

.sliderContainer {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    height: 24.0625rem;
    gap: 1.25rem;
    width: calc(100% + 1.25rem);
}

.slide {
    width: 21.6875rem;
    flex-shrink: 0;
    background-color: #5F35F7;
    scroll-snap-align: start;
}

@media (min-width:1280px){

    .sliderContainer {
        overflow-x: unset;
        scroll-behavior: unset;
        scroll-snap-type: unset;
        height: 48.5rem;
        gap: 2.5rem;
        width: 100%;
    }

    .slide {
        width: calc(50% - 1.25rem);
    }
}